#prices, #products {
    display: flex;
}

#prices {
    flex-direction: row;
    justify-content: space-between;
}

#price-range {
    width: 100%;
}

#products {
    margin-top: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figcaption {
    text-align: center
}

main {
    margin-right: 0px;
}